# Assignment_1

### Q 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
###  * , 'hello' , -87.6, - , / , + , 6

**Ans :**

**Operators/Expressions :**

                    + ,  - , *  ,  /

**Values :**

                   'hello' , -87.6 , 6

### Q 2. What is the difference between string and variable?

**Ans :**

| No. | String | Variable |
| --- | --- | --- |
| 1 | Anything you assign to a variable using quotes (single or double) will be considered as a string | A variable as an identifier to store a value in a memory location and to manipulate it if needed |
| 2 | A string is one of several types of a variable | A variable can be of several types like integer, string, float, etc. based on the value you assign to it |
| 3 | Eg. x = '10', y = 'hello',  | Eg. x = '10', y = 20 , z = 'hello', c = 10.6 |

### Q 3. Describe three different data types.

**Ans :**

**1. Integer :**   Integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [1]:
a = 10 
type(a)

int

**2. Float :**  It is a real number with floating point representation. It is specified by a decimal point.

In [2]:
b = 10.6
type(b)

float

**3. String :** A string is a collection of one or more characters put in a single quote, double-quote or triple quote.

In [3]:
c = 'Welcome to Ineuron'
type(c)

str

### Q 4. What is an expression made up of? What do all expressions do?

**Ans :**

* Expression is made of one or more constants, variables, operators, and functions.
* In programming language, it interprets and computes to produce another value.

In [4]:
# Eg. Expression - gives another Value
10 + 5 / 6.0

10.833333333333334

### Q 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Ans :**

| No. | Expression | Statement |
| --- | --- | --- |
| 1 | An expression is any word or group of words or symbols that is a value. In programming, an expression is a value, or anything that executes and ends up being a value |A statement is a group of expressions and/or statements that you design to carry out a task or an action |
| 2 | Expressions can be assigned or used as operands | Statements can only be declared.  Variable declaration and assignment are statements because they do not return a value|
| 3 | Expressions are the building blocks | Statements are the whole structure,For example, a line or a block of code is a statement.|
| 4 | Expression Eg. 10 + 5 / 6.0  | Statement Eg. print('hello'), print('Area of rectangle:', l * b) |

### Q 6. After running the following code, what does the variable bacon contain?  bacon = 22 ,   bacon + 1

**Ans :**

In [5]:
bacon = 22   
print(bacon)
print(bacon + 1)         # add 1 to bacon value

22
23

### Q 7. What should the values of the following two terms be?  - 'spam' + 'spamspam'  ,  'spam' * 3

In [6]:
'spam' + 'spamspam'     # here two string concatenation

'spamspamspam'

In [7]:
'spam' * 3           # here one string comes three times

'spamspamspam'

### Q 8. Why is eggs a valid variable name while 100 is invalid?

**Ans :**

Rules for Variable names in python
*  Variable name cannot start with a number.
*  Variable name must start with a letter or the underscore character.
*  Variable name can only contain alpha-numeric(A-z,0-9 & _) characters and underscores.
*  The reserved words(keywords) cannot be used naming the variable.

In [8]:
eggs = 100  # Valid variable Initilization
print(eggs)  #prints the value of egg

100

In [9]:
100 = 'Ineuron'   # Invalid Variable Initilization
print(100) #prints the value of 100

SyntaxError: cannot assign to literal (2703001887.py, line 1)

So Here Eggs is Valid variable name and 100 is invalid.

### Q 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans :**

In [10]:
# Take example
a = 15
print(int(a))   # int() function converts given input to int
print(float(a))  # float() function converts given input to float
print(str(a))   # str() function converts given input to string

15
15.0
15

Here , we use int(), float(), str() - functions<br> This process is called TYPECASTING --> way to change one data type to another datatype

### Q 10. Why does this expression cause an error? How can you fix it?
### 'I have eaten ' + 99 + ' burritos.'

**Ans :**

In [11]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

Here Got error - 2 strings and 1 integer . So Concatenates string to String - Not String to Integer.

In [12]:
# By Using TypeCasting 

'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

So by Changing Intger to string - We get correct output - without error.