# Assignment_20

### Q1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

**Ans**

In [1]:
test1 = 'This is a test of the emergency text system,'
fileObj = open('test.txt','w')  # create /open file
fileObj.write(test1) # write inside the file
fileObj.close() # close file

### Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

**Ans**

In [2]:
read_file = open('test.txt', 'r')  # open file
test2 = read_file.readline()   # read file content

print(test2) # just for reference

read_file.close() # close file
if test1 == test2:
    print("Both test1 and test2 are same")

This is a test of the emergency text system,
Both test1 and test2 are same

### Q3. Create a CSV file called books.csv by using these lines:<br> title,author,<br>year The Weirdstone of Brisingamen,<br>Alan Garner,1960 Perdido Street Station,<br>China Miéville,2000 Thud!,<br>Terry Pratchett,<br>2005 The Spellman Files,<br>Lisa Lutz,2007 Small Gods,<br>Terry Pratchett,1992

**Ans**

In [3]:
import csv
rows =[ ['title','author','year'],        # create lists inside list
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]

with open('books.csv','w',newline='') as file:  # open file 
    writer = csv.writer(file) # write in the file
    writer.writerows(rows) # write rows in the file
    
with open('books.csv','r',newline='') as file:   # open file 
    for line in file.readlines():  # read lines in the file
        print(line)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

### Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

**Ans**

In [4]:
import sqlite3
conn = sqlite3.connect('books.db')  # connect to sqlite3 database
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)') # create table query
conn.commit()

### Q5. Read books.csv and insert its data into the book table.

**Ans**

In [5]:
import pandas as pd  # import pandas module

read_books = pd.read_csv('books.csv',encoding='unicode_escape')  # read csv file
read_books.to_sql('books', conn, if_exists='append', index = False) # insert csv file into database

5

### Q6. Select and print the title column from the book table in alphabetical order.

**Ans**

In [6]:
c.execute('select title from books order by title asc') # select title column from the book table 
print(c.fetchall())  # get all items

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

### Q7. From the book table, select and print all columns in the order of publication.

**Ans**

In [7]:
c.execute('select title, author,year from books order by year')

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

### Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

**Ans**

In [8]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\ashis\anaconda3\lib\site-packages (2.0.15)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ashis\anaconda3\lib\site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\ashis\anaconda3\lib\site-packages (from sqlalchemy) (4.5.0)

In [9]:
import sqlalchemy
conn = sqlalchemy.create_engine("sqlite:///books.db")
conn
# rows = conn.execute('select * from books')
# for i in rows:
#     print(i)

Engine(sqlite:///books.db)

### Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

**Ans**

In [10]:
!pip install redis

Requirement already satisfied: redis in c:\users\ashis\anaconda3\lib\site-packages (4.5.5)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\ashis\anaconda3\lib\site-packages (from redis) (4.0.2)

In [11]:
! python -m pip install redis

Requirement already satisfied: redis in c:\users\ashis\anaconda3\lib\site-packages (4.5.5)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\ashis\anaconda3\lib\site-packages (from redis) (4.0.2)

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

### Q10. Increment the count field of test and print it.

**Ans**

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')